.home{
	display: grid;
	grid-template-columns: 200px 1fr;
}
.home p{
	font-size: 16px;
}
.home p b{
	font-size: 21px;
}
.VolonterTypeSubmit{
	width: 100%;
	align-self: center;
	background-color: #9c9732;
  	border: none;
  	color: white;
}